.weekday-split .event:hover {
    z-index: 120;
}

.pf-c-dual-list-selector__status-text {
    display: none;
}

.pf-c-dual-list-selector__controls-item button[aria-label="Add all"] {
    display: none;
}

.pf-c-dual-list-selector__controls-item button[aria-label="Remove all"] {
    display: none;
}

.fade-in {
    opacity: 0;
    animation: fadeIn 0.6s ease-in-out forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0.1;
    }

    100% {
        opacity: 1;
    }
}